<div class="ae-grid au-xs-ta-center au-mb-4">

    <div  *ngFor="let persona of infoPaginaService.equipo" class=" animated heartBeat ae-grid__item item-lg-4 ae-kappa au-mb-3"><img [src]="persona.url" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2 pr">{{persona.nombre}}</h5>
      <p class="ae-u-bolder au-mb-3 pr">{{persona.ocupacion}}</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{persona.frase}}</p><a target="_blank" href="https://www.twitter.com/{{persona.twitter}}" class="ae-u-bolder au-underline">{{persona.twitter}}</a>
    </div>
</div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder pr">Seba's Store</h4>
      <p>Sitio web de los Tenis de Novedad, Detalles, Caracteriticas y Modelos, todo lo que necesitas saber antes de tu compra aqui los puedes encontrar</p>
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest pr">About Us</h6>
      <p class="au-lh-3">Somos los Proveedores de Informacion de Tenis. </p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest pr">Our Mission</h6>
      <p class="au-lh-3">Tener Informacion de todos los tenis de novedad <br>Para poder elegir su mejor opcion</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest pr">Our Clients</h6>
      <p class="au-lh-3">Todos son bienvenidos a este sitio para adquirir informacion sobre Tenis</p>
      <p class="au-lh-3">Cualquier tipo de persona puede tener acceso a este sitio</p>
    </div>
  </div>
  <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Ver Nuestro Catalogo<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>

