p{
  color: royalblue;
  text-shadow:2px 2px 2px lime;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}
h5, h6, h4 {
  color: darkblue;
  text-shadow:2px 2px 2px aquamarine;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pr{
  text-align: center;
}
